{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404错误——爱家网上购物</title>
    <meta name="keywords" content="欢迎进入爱家网上购物~~" />
    <link rel="stylesheet" href="{% static 'css/404error.css' %}" />
</head>

<body class="current">
    <div class="dmaku-error-main">
        <div class="w-1200 clear">
            <div class="error-l fl">
                <h1><a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a></h1>
                <div class="l-tex">
                    <p>您所访问的资源不存在</p>
                    <a href="{% url 'contents:index' %}">返回首页</a>
                </div>
                <div class="clear"></div>
                <p class="foot-tex" style="margin-top:20px;">版权所有 Copyright © 2022 www.aijai.com 闽ICP备3188901303号-3</p>
            </div>
            <div class="error-r fr"><img src="{% static 'img/aijai-error-1.png' %}"></div>
        </div>
    </div>
</body>

</html>