{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>爱家用户登入页面-家居个性购物-正品低价、品质保证、美好追求、温馨生活</title>
    <meta name="description" content="爱家IJ.COM-家居家具购物城、房间、卧室、客厅。。。。美好生活，充满对生活的向往！">
    <meta name="keywords" content="爱家商城，家居，家具，网上购物，网上商城">
	<!-- 引入favicon.icon网页图标 -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<!-- Tell the browser to be responsive to screen width -->
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<script>
		function detectBrowser() {
			var browser = navigator.appName
			if (navigator.userAgent.indexOf("MSIE") > 0) {
				var b_version = navigator.appVersion
				var version = b_version.split(";");
				var trim_Version = version[1].replace(/[ ]/g, "");
				alert(trim_Version);
				if ((browser == "Netscape" || browser == "Microsoft Internet Explorer")) {
					if (trim_Version == 'MSIE8.0' || trim_Version == 'MSIE7.0' || trim_Version == 'MSIE6.0') {
						alert('请使用IE9.0版本以上进行访问');
						return;
					}
				}
			}
		}
		detectBrowser();
	</script>
</head>

<body>
	<div class="bgbox"></div>
	<div class="container">
		<div class="leftbox">
			<img src="{% static 'img/logo.png' %}">
			<h3>用户登入</h3>
			<div class="copyright">
				2022-2023 © <a class="a1" href="javascript:;" target="_blank">AIJIA.COM</a> <a class="a2"
					href="#" target="_blank">爱家网上商城</a>
			</div>
		</div>
		<div class="rightbox">
			<div class="inputbox">
				<img src="{% static 'img/login/hy.png' %}">
				<input type="text" name="username" id="username" placeholder="请输入账号">
			</div>
			<div class="inputbox">
				<img src="{% static 'img/login/suo.png' %}">
				<input type="password" name="password" id="password" placeholder="请输入密码">
			</div>
			<div class="yzmbox">
				<input type="text" id="code_input" value="" placeholder="请输入验证码">
				<div id="v_container" style="width: 120px;height: 40px;"></div>
			</div>
			<button id="my_button">立即登录</button>
			<span class="other_ifo">
				<a href="{% url 'users:forgot_pwd' %}" id="wjpwd" class="fl">忘记密码</a>
				<a href="{% url 'users:register' %}" id="register" class="fr">用户注册</a>
			</span>
		</div>
		<div class="clearfix"></div>
	</div>

	<!-- jQuery 2.1.4 -->
	<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
	<!-- Bootstrap 3.3.2 JS -->
	<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/login/gVerify.js' %}"></script>
	<script src="{% static 'js/login/layer-v3.5.1/layer.js' %}"></script>
	<script>
		var verifyCode = new GVerify("v_container");

		function checkLogin() {
			var username = $('#username').val();
			var password = $('#password').val();
			var vertify = $('#code_input').val();
			if (username == '' || password == '') {
				layer.alert('用户名或密码不能为空', {
					icon: 2
				});
				return;
			}
			if (vertify == '') {
				layer.alert('验证码不能为空', {
					icon: 2
				});
				return;
			}
			var res = verifyCode.validate(vertify);
			if (!res) {
				layer.alert('验证码错误', {
					icon: 2
				});
				fleshVerify();
				return;
			}

			$.ajax({
				url: '/login.html?v=' + Math.random(),
				type: 'post',
				dataType: 'json',
				data: {
					username: username,
					password: password
				},
				success: function (res) {
					if (res.status == 1) {
						top.location.href = res.url;
					} else {
						layer.alert(res.msg, {
							icon: 2
						});
					}
				},
				// error: function (XMLHttpRequest, textStatus, errorThrown) {
				// 	layer.alert('', {
				// 		icon: 2
				// 	});
				// }
			})
		}

		$("#my_button").click(function () {
			checkLogin();
		});
	</script>

</body>

</html>