.fr {
    float: right
}

.fl {
    float: left;
}

/*图标引用声明*/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7kkyc2');
    src: url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
        url('../fonts/icomoon.woff?7kkyc2') format('woff'),
        url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 字体引入 */
@font-face {
    font-family: weiruan;
    src: url('../fonts/微软简楷体.ttf');

}

@font-face {
    font-family: siyuan;
    src: url('../fonts/思源宋体.ttf');

}

@font-face {
    font-family: fangyuan;
    src: url('../fonts/方圆准圆体.ttf');

}
/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
/* 顶部导栏start */
.shortcut_header{
    background: #f1f1f1;
    position: fixed;
    width: 1400px;
    left: 50%;
    height: 50px;
    margin-left: -700px;
    vertical-align: middle;
    z-index: 999 !important;
}
.shortcut_items li{
    transition: all 0.5;
}
.shortcut_items li:hover{
    padding-left: 3px;
    font-size: 16px;
}
.shortcut {
    height: 50px;
    background: aliceblue;
    line-height: 50px;
}
/* 头部菜单移动效果 */
.shortcut_items{
    position: relative;
}
.cloud{
    position: absolute;
    width: 83px;
    height: 50px;
    background: greenyellow;
    opacity: 0.2;
    border-radius: 20px;
    border: 1px solid greenyellow;
    z-index: -1;
}
/* 头部下拉菜单 */
.shortcut_menu{
    display: none;
    position: fixed;
    width:100%;
    height: 550px;
    top: 55px;
    overflow: hidden;
    background: #fff;
    z-index: 999;
}
/* 左菜单 */
.shortcut_menul{
    width: 200px;
    overflow: hidden;
    border-right: 1px solid rgb(221, 69, 69);
}
#shortcut_menul{
    width: 265px;
    height: 550px;
    overflow-x: hidden;
    display: none;
}
#shortcut_menul li{
    position: relative;
    width: 270px;
    height: 50px;
    border-bottom: #ccc 1px solid;
    line-height: 50px;
    text-align: left;
    padding-left: 13px;
}
.current1{
    background: rgb(230, 133, 7);
    font-size: 18px;
    color: #fff;
}
#shortcut_menul i{
    position: absolute;
    font-family: 'icomoon';
    font-size: large;
    left: 150px;
    
}
/* 右菜单 */
.shortcut_menur{
    width: 990px;
}
#shortcut_menur_index,#shortcut_menul_items{
    display: none;
}
#shortcut_menul_items dd p{
    font-size: 13px;
}
.shortcut_menur dt>p{
    height: 50px;
    border-bottom: 1px #ccc solid;
    line-height: 50px;
    text-align: center;
    font-family:'siyuan';
    font-size: 20px;
}
#shortcut_menur1 ul>li{
    float: left;
    width: 240px ;
    height: 80px;
    border: 1px solid #ccc;
    margin: 5px 10px 10px 5px;
    line-height: 80px;
}
#shortcut_menur1 ul>li img{
    float: left;
    width: 190px;
    height: 80px;
    background-color: #ccc;
    margin-right: 9px;
}
/* 头部右边内容 */
.shortcut li,ul,h1{
    float: left;
}
.shortcut li a{
    display: block;
    padding: 0 5px;
    font-size: 18px;
}
.vip,.ico_like,ico_login{
    font-family: 'icomoon';
}
/* 搜索 */
.Search{
    position: absolute;
    width: 390px;
    height: 48px;
    border-radius: 25px;
    left: 550px;

}
.Search i {
    position: absolute;
    left:25px;
    top: 7px;
    font-family: 'icomoon';
    font-size: 25px;
    color: rgb(172, 157, 157);
    line-height: 40px;
}
.text{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    text-align:center;
    border-style:groove;

}
.icomoon{
    font-family: 'icomoon';
}
.header_fr li{
    transition: all .5;
}
.header_fr li:hover{
    padding-left: 3px;
    font-size: 16px;
}
/* 顶部导栏end */
/* 回到顶部按钮start */
.back_top{
    position: relative;
    height: 100px;
}
.back_top_btn{
    position: absolute;
    line-height: 40px;
    text-align: center;
    width: 90px;
    height: 40px;
    background: rgba(245, 209, 215,.3);
    border-radius: 20px;
    margin-top: 40px;
    left: 540px;
}

/* 回到顶部按钮end */
/* 电梯导栏 */
.scroll_nav{
    position: fixed;
    width: 110px;
    top: 150px;
    right: 50%;
    margin-right: -710px;
    z-index: 10;
}
.scroll_items{
    float: right;
    cursor: pointer;
    opacity: .5;
}
.scroll_items:hover{
    opacity: 1;
}
.scroll_items li {
    width: 100px;
    height: 50px;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    text-align: center;
    font-family: 'siyuan';


}
.scroll_items li:hover{
    background-color: rgb(241, 145, 145);
    border-radius: 20px;
    padding-left: 10px;
    font-size: 20px;
    color: aliceblue;
}
/* 搜索输入框 */
#scroll_search_input{
    position: relative;
    left: -205px;
    top: -105px;
    width: 205px;
    height: 40px;
    background: #fff;
    border-radius: 10px 0 0 10px;
    padding-left: 6px;
    display: none;
    z-index: 998;
}
/* 顶部 */
#scroll_back{
    line-height: 20px;
    text-align: center;
}
#scroll_back i {
    font-family: 'icomoon';
    font-size: 18px;
}
#scroll_back p{
    font-size: 16px;
}
/* 购物车快捷 */
#scroll_cat{
    font-family: 'icomoon';
    color: rgb(207, 77, 77);
    font-size: 23px;
}
/* ------------------------------------------------------------- */
/* 页尾导栏服务start */
.footer{
    height: 530px;
    background-color: aliceblue;
    border-top: 2px solid #ccc;
    padding-top: 30px;
}
/* 服务指南 */
.footer_container_top{
    width: 1200px;
    height: 277px;
}
.footer_container_top1{
    width: 305px;
    height: 277px;
    margin: 10px 0px 5px 50px ;
}
.footer_container_top1 p:nth-child(1){
    font-size: 23px;
    margin-bottom: 15px;
    font-weight:bolder;/* 加粗 */
    color: #111;
    line-height: 30px;
}
.footer_container_top1 p:nth-child(2)>a{
    font-weight:bold;
} 
.footer_container_top1>a{
    display: block;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #111;
    color: aliceblue;
    text-align: center;
    line-height: 37px;
    font-size: 18px;
    margin-top: 50px;
    margin-left:10px;
}
.footer_container_top2{
    width: 803px;
    height: 277px;
    background-color: antiquewhite;
}
.footer_container_top2 ul{
    margin-top: 20px;
}
.footer_container_top2 li{
    float: left;
    margin-left: 70px;
}
.footer_container_top2_dt{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: #ccc 1px solid;
    padding-bottom: 2px;
}
.footer_container_top2 dd{
    line-height: 24px;
    font-size: 16px;
}
/* QQ 微信 微博 */
.footer_container_bottom1{
    float: left;
    height: 81px;
    padding-left: 40px;
}
.login_item li{
    float:left;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0,.2);
}
.qq,.wecat,.weibo{
    display: block;
    font-size: 25px;
    margin:0px 10px;
    text-align: center;
    line-height: 50px;
}
.qq{
    color: rgb(184, 16, 16);
}
.wecat{
    color: green;
}
.weibo{
    color: rgb(245, 112, 112);
}
.footer_container_bottom2{
    width: 1200px;
    float: left;
    height: 50px;
    margin-top: 40px;
}
.bottom2_l{
    line-height: 50px;
    margin-left: 40px;
}
.bottom2_r{
    line-height: 50px;
    font-size: 13px;
}
.bottom2_r p{
    float: left;
}
.bottom2_r span{
    margin: 0px 4px;
}
/* 页尾导栏服务end */
/* ------------------------------------------------------------------------- */