/* 商品详情页样式 */
.detailed_header {
    height: 50px;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    margin-top: 20px;
    transition: all .5;
}

.detailed_header ul a:hover {
    font-size: 16px;
    padding-bottom: 1px;
}
/* 购物信息填写 */
.goods_choose{
    position: fixed;
    top: 0;
    width: 380px;
    height: 100%;
    right: 110px;
    background: rgb(230, 117, 117);
}
/* 商品展示图 */
.goods_information{
    width: 820px;
    height: 600px;
}
.information_items{
    float: left;
    width: 400px;
    height: 290px;
    border: 1px solid #111;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}










/* 商品评论内容 */
#wrapper {
    width: 500px;
    height: 100px;
    border: 1px solid #000;
    margin: 100px auto;
    /* overflow: hidden; */
}
ul {
    padding: 0;
    margin: 0;
}
li {
    cursor: default;
}